In [49]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [50]:
df = pd.read_csv('Cas.csv')

In [51]:
df.head()

,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type,Casualty_IMD_Decile
0,2016010000005,2,1,1,1,23,5,3,0,0,0,0,0,2,1,4
1,2016010000006,1,1,1,2,36,7,3,0,0,0,0,0,9,1,10
2,2016010000008,1,1,1,1,24,5,3,0,0,0,0,0,9,1,8
3,2016010000016,1,1,2,2,59,9,3,0,0,0,3,0,11,1,4
4,2016010000018,2,1,1,1,28,6,3,0,0,0,0,0,1,1,6

In [52]:
df.tail()

,Accident_Index,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type,Casualty_IMD_Decile
181379,2016984131316,1,1,1,1,17,4,3,0,0,0,0,0,9,1,6
181380,2016984131316,1,2,2,1,17,4,3,0,0,1,0,0,9,-1,-1
181381,2016984131316,1,3,2,1,21,5,3,0,0,2,0,0,9,1,1
181382,2016984133416,1,1,1,1,48,8,3,0,0,0,0,0,9,1,-1
181383,2016984133416,1,2,2,2,48,8,3,0,0,1,0,0,9,1,-1

In [34]:
df.isnull().sum()

Accident_Index                        0
Vehicle_Reference                     0
Casualty_Reference                    0
Casualty_Class                        0
Sex_of_Casualty                       0
Age_of_Casualty                       0
Age_Band_of_Casualty                  0
Casualty_Severity                     0
Pedestrian_Location                   0
Pedestrian_Movement                   0
Car_Passenger                         0
Bus_or_Coach_Passenger                0
Pedestrian_Road_Maintenance_Worker    0
Casualty_Type                         0
Casualty_Home_Area_Type               0
Casualty_IMD_Decile                   0
dtype: int64

In [56]:
df.describe()

,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type,Casualty_IMD_Decile
count,181384.000000,181384.000000,181384.000000,181384.000000,181384.000000,181384.000000,181384.000000,181384.000000,181384.000000,181384.000000,181384.000000,181384.000000,181384.000000,181384.000000,181384.000000
mean,1.490628,1.414386,1.482523,1.406166,36.333139,6.273497,2.847368,0.681119,0.500926,0.254692,0.075238,0.069742,7.317691,1.033421,3.808500
std,0.614679,1.109137,0.713700,0.492866,19.259664,2.393541,0.386129,1.980707,1.715919,0.577913,0.521653,0.369720,7.822052,0.969762,3.503965
min,1.000000,1.000000,1.000000,-1.000000,-1.000000,-1.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,0.000000,-1.000000,-1.000000
25%,1.000000,1.000000,1.000000,1.000000,22.000000,5.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000,1.000000
50%,1.000000,1.000000,1.000000,1.000000,33.000000,6.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,4.000000
75%,2.000000,2.000000,2.000000,2.000000,49.000000,8.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,7.000000
max,21.000000,58.000000,3.000000,2.000000,101.000000,11.000000,3.000000,10.000000,9.000000,2.000000,4.000000,2.000000,98.000000,3.000000,10.000000

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181384 entries, 0 to 181383
Data columns (total 16 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Accident_Index                      181384 non-null  object
 1   Vehicle_Reference                   181384 non-null  int64
 2   Casualty_Reference                  181384 non-null  int64
 3   Casualty_Class                      181384 non-null  int64
 4   Sex_of_Casualty                     181384 non-null  int64
 5   Age_of_Casualty                     181384 non-null  int64
 6   Age_Band_of_Casualty                181384 non-null  int64
 7   Casualty_Severity                   181384 non-null  int64
 8   Pedestrian_Location                 181384 non-null  int64
 9   Pedestrian_Movement                 181384 non-null  int64
 10  Car_Passenger                       181384 non-null  int64
 11  Bus_or_Coach_Passenger              181384 non-null  int64
 12  Pedestrian_Road_Maintenance_Worker  181384 non-null  int64
 13  Casualty_Type                       181384 non-null  int64
 14  Casualty_Home_Area_Type             181384 non-null  int64
 15  Casualty_IMD_Decile                 181384 non-null  int64
dtypes: int64(15), object(1)
memory usage: 22.1+ MB

In [58]:
df['Casualty_Severity'].unique()

array([3, 2, 1])

In [61]:
df.shape

(181384, 16)

In [62]:
df.drop('Accident_Index',axis=1,inplace=True)

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181384 entries, 0 to 181383
Data columns (total 15 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Vehicle_Reference                   181384 non-null  int64
 1   Casualty_Reference                  181384 non-null  int64
 2   Casualty_Class                      181384 non-null  int64
 3   Sex_of_Casualty                     181384 non-null  int64
 4   Age_of_Casualty                     181384 non-null  int64
 5   Age_Band_of_Casualty                181384 non-null  int64
 6   Casualty_Severity                   181384 non-null  int64
 7   Pedestrian_Location                 181384 non-null  int64
 8   Pedestrian_Movement                 181384 non-null  int64
 9   Car_Passenger                       181384 non-null  int64
 10  Bus_or_Coach_Passenger              181384 non-null  int64
 11  Pedestrian_Road_Maintenance_Worker  181384 non-null  int64
 12  Casualty_Type                       181384 non-null  int64
 13  Casualty_Home_Area_Type             181384 non-null  int64
 14  Casualty_IMD_Decile                 181384 non-null  int64
dtypes: int64(15)
memory usage: 20.8 MB

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
X = df.drop('Casualty_Severity',axis=1)
y = df['Casualty_Severity']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=15)

In [67]:
# Standart Scaler
from sklearn.preprocessing import StandardScaler

In [68]:
scaler = StandardScaler()

In [69]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [70]:
X_train_scaled.shape

(136038, 14)

In [71]:
# Linear Regression 
from sklearn.linear_model import LinearRegression

linear = LinearRegression()

In [ ]:
linear.fit(X_train_scaled,y_train)
y_pred = linear.predict(X_test_scaled)
mae = mean_absolute_error(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred)
score = r2_score(y_test,y_pred)
print("Mean absolute error: ", mae)
print("Mean squared error: ", mse)
print("r2 score: ", score)
plt.scatter(y_test,y_pred)
plt.show()